
body{
    background-image: -webkit-linear-gradient(left,#2c0202, #00022e,);
    
}

h3{
 text-align: center;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
 margin-top: 40px;
 color:white
}

form input{
    margin-left:30%;
    margin-top:300px; 
}


#hex-color{
    text-align: center;
    color:white;
}
.custom{
    color: white;
    font-size: 10px;
    padding: 0px;
    text-align: center;
}
.custom a {
    color:rgb(121, 115, 115)
}

.custom a:hover{
    color: white;
    transition:1.5s;
}

#saveas{
    color: white;
}
#saveas2{
    color: white;
 
}

#saveas2:Hover{
    color:rgb(82, 78, 78);
    transition: 0.5s;
    text-decoration: underline;
    cursor: pointer;
    
}


@media(min-width:0px)and(max-width:500px)
{
   
    
form input{
    margin-left:24%;
    margin-top:305px; 
}

.custom{
margin-top: 9vh;

}
}